@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Roboto:wght@300;400;500;700;900&family=Ubuntu+Mono:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #E5E5E5;
}

main {
    padding-top: 150px;
    max-width: 768px;
    background-color: #ffffff;
    width: 95%;
    height: 100%;
    margin: 0 auto;
}

section, header {
    max-width: 768px;
    background-color: #ffffff;
    width: 95%;
    min-height: calc(100vh - 160px);
    margin: 0 auto;
    padding: 60px 80px;
}

section {
    max-width: 768px;
    background-color: #ffffff;
    width: 95%;
    min-height: calc(100vh - 160px);
    margin: 0 auto;
    padding: 0 80px;
}

header {
    min-height: 150px;
}

h1, h2, h3, h4, h5, h5 {
    font-family: 'Ubuntu Mono', monospace;
    color: #4C48F8;
    margin: 0;
    padding: 0;
}

p {
    padding: 0;
    margin: 0;
}

.card {
    text-align: center;
    padding: 15px;
    max-width: 380px;
    margin: 60px auto;
    border-radius: 15px;
    border: 1px solid #4C48F8;
    box-shadow: 1px;
    box-shadow: 1px 3px 3px 0 #00000050;
    padding-bottom: 30px;
}

.name {
    margin: 5px auto;
    margin-top: 15px;
    font-family: 'Ubuntu Mono', monospace;
}

.title {
    font-family: monospace;
    font-size: 1.4rem;
    padding: 5px 0;
}

.card img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: relative;
    margin: 0 auto;
    display: block;
    margin-top: -80px;
    box-shadow: 1px 3px 3px 0 #00000050;
}

.card .link-buttons {
    padding: 10px;
    margin-top: 15px;
}

.card .link-button {
    font-family: 'Ubuntu Mono', monospace;
    text-decoration: none;
    border-radius: 5px;
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 1.1rem;
    background-color: #4C48F8;
    padding: 5px 10px;
    margin: 10px 15px;
    box-shadow: 1px 3px 3px 0 #00000050;
}

.navbar {
    display: flex;
    border-bottom: 10px solid #4C48F8;
}

.navbar h1 {
    font-size: 1.9rem;
}

.menu {
    width: 100%;
    position: relative;
}

.menu-title {
    cursor: pointer;
    position: relative;
    float: right;
    display: flex;
    font-size: 1.3rem;
    font-weight: 700;
}

.menu-title p {
    font-family: 'Ubuntu Mono', monospace;
    margin-right: 10px;
    font-size: 1.4rem;
}

.menu-title img {
    height: 25px;
}

.menu-container {
    padding: 5px 15px;
    margin-top: 40px;
    position: absolute;
    right: 0;
    text-align: right;
    box-shadow: 2px 4px 6px 0px #00000025;
    z-index: 3;
}

.menu-container li {
    list-style-type: none;
    line-height: 1.5;
}

#menu-body {
    display: none;
}

.hidden {
    display: none;
}

.menu-link a {
    text-decoration: none;
    font-weight: 400;
    color: #000000;
}

.menu-link a:hover, .menu-link a.active {
    color: #4C48F8;
}

.menu-link a.active {
    font-weight: 700;
}

.portfolio-item {
    display: flex;
    padding: 20px 0;
    background-color: #ffffff;
}

.portfolio-item .capture {
    height: 9rem;
    margin-right: 15px;
}

.portfolio-item .capture img {
    height: 100%;
    border-radius: 5px;
}

.portfolio-item .content .title a {
    font-family: 'Ubuntu Mono', monospace;
    color: #4C48F8;
    font-size: 1.4rem;  
}

.portfolio-item .content .description {
    padding: 10px 0px;
} 

.part {
    margin-bottom: 25px;
}

#resume {
    padding-bottom: 50px;
}

.part .title {
    border-bottom: 4px solid #4C48F8;
    width: fit-content;
    padding: 0;
    margin-bottom: 15px;
    font-size: 1.6rem;
}

.part .info {
    display: flex;
    position: relative;
}

.part .info .school {
    max-width: calc(100% - 80px);
    width: fit-content;
    color: #000000;
    font-size: 1.1rem;
}

.part .info .period {
    width: fit-content;
    font-size: .9rem;
    position: absolute;
    right: 0;
    z-index: 2;
}

.part ul.description li {
    font-size: .9rem;
    list-style-type: "- ";
    padding: 0;
}